---
layout: default
---

<section class="notfound">
    <article class="notfound__image">
        <img src="/img/404.png" alt="Um gato vetorizado num fundo amarelo segurando uma plaquinha">
    </article>
    <article class="notfound__text">Não foi encontrado a documentação ou página que você procurava :(</article>
    <article class="notfound__button">
        <a href="/" class="btn">voltar para o início</a>
    </article>
</section>

