---
layout: default
---

<section id="home">
    {% for post in site.posts.sort('order', 1).toArray() %}
        <a href="{{ post.path }}"><article style="display: none">{{ post.title }}</article></a>
    {% endfor %}
</section>

{% block js %}
    <script src="/js/opening.js"></script>
{% endblock %}