$grey: #d3d3d3;
$dark-grey: #444444;
$black: #000;
$redkyll: #BD0000;
$white: #fff;
$yellowcat: #FBB218;

$shadow: rgba($black, .7);

$medias: (
  'xl': 1690,
  'lg': 1280,
  'md': 980,
  'sm': 768,
  'xs': 480
);
